body {
    background-color: #FCFBF4;
    font-family: Arial, sans-serif;
    border: 0;
    height: 1500PX;
    width: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    transition: opacity 2s ease-in-out;
}
.hide {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}
.show {
    opacity: 1;
    transition: opacity 2s ease-in-out;
}
.container {
    flex-direction: column;
}
.bar {
    height: 80px;
    width: auto;
    justify-content: center;
    align-content: center;
    place-items: center;
    padding:10px 5px 20px 5px;
}
.heading {
    font-family: afacad flux;
    font-size: 20px;
    letter-spacing: 4px;
    padding:0;
    margin:0;
    transition: font-size 1s ease-in-out, letter-spacing 1s ease-in-out;
}
.now-playing {
    font-size: 15px;
    font-family: "Afacad Flux", sans-serif;
    margin-bottom: 20px;
    place-self: center;
    transition: font-size 1s ease-in-out;
}
@media (min-width: 440px) {
    .heading, .heading a {
        font-size: 30px;
        letter-spacing: 6px;
    }
    .now-playing {
        font-size: 25px;
    }
}
@media (min-width: 768px) {
    .heading, .heading a {
        font-size: 60px;
        letter-spacing: 8px;
    }
    .now-playing {
        font-size: 40px;
    }
}
.searchbar {
    background-color: black;
    border-radius: 20px;
    width: 85%;
    place-self: center;
    transition: width 3s;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    height: 50px;
    transition: opacity 2s ease-in-out 1s;
}

.search {
    color: white;
    background-color: white;
    
    opacity: 80%;
    border-radius: 20px;
    width: 90%;
    text-align: center;
    transition: opacity 3s ease-in-out;
}
.search:focus-visible {
    outline: none;
    background-color: white;
}
#input {
    color: black;
    font-family: afacad flux;
}
#results {
    height: 500px;
    width: auto;
    place-self: center;

}
.song-item {
    place-self: center;
    justify-items: center;
}
.song-item:hover .artist-name{
    text-shadow: 0px 0.55px 0px black;
    transition: text-shadow .35s ease-in-out;
}
.artist-name {
    font-family: afacad flux;
    transition: text-shadow .35s ease-in-out;
}

.cover-art {
    box-shadow: gray 0px 0px;
    transition: box-shadow .35ss ease-in-out;
}

.cover-art:hover {
    box-shadow: 5px 3.2px;
    transition: box-shadow .35s ease-in-out;
}
a {
    text-decoration: none;
    color: inherit;
}
a:focus {
    outline: none;
}
.song-contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.heading a {
    text-decoration: none;
    color: black;
    transition: font-size 1s ease-in-out;
}



/* Song Details */
#song-details {
    margin-bottom: 20px;
}

/* Cover Art */
.cover-art {
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 5px gray;
    transition: box-shadow 0.35s ease-in-out;
}

.cover-art:hover {
    box-shadow: 5px 5px 10px black;
}

/* Buttons (Play & Pause) */
.controls {
    display: flex;
    gap: 20px;
}

button {
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}
#rewind-button {
    background-color: black;
    color: white;
}

#play-button {
    background-color: black;
    color: white;
}

#pause-button {
    background-color: black;
    color: white;
}

button:hover {
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
}
.horm{
    display: flex;
    flex-direction: column;
    width: auto;
    position: relative;
    margin-left: 0%;
    transition: margin-left 0.3s ease-in-out;
}
.translator {
    display: flex;
    flex-direction: row;
    height: 300px;
    width: 800px;
    place-items: center;
    justify-content: center;
    position: relative;
}
.binary-container {
    border-radius: 20px;
    margin-top: 30px;
    margin-right: 100px;
    width: 600px;
    height: 120px;
    background-color: black;
    color: white; /* Matrix-style effect */
    font-family: monospace;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    position: absolute;
}

#translateh {
    display: flex;
    margin: 40px 0px 0px 5px;
    background-color: black;
    color: white;
    width: 7%;
    height: 60px;
    border-radius: 500px;
    justify-content: center;
    align-items: center;
}
#translater {
    display: flex;
    margin: 40px 0px 0px 5px;
    background-color: black;
    color: white;
    width: 7%;
    height: 60px;
    border-radius: 500px;
    justify-content: center;
    align-items: center;
}
